header.header {
  position: sticky;
  top: 0;
  padding: 1rem 0;
  box-shadow: var(--light-shadow);
  background-color: var(--attentionColor);
  filter: saturate(0.86);
  /*background: var(--whiteColor);*/
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__navigation {
  margin-left: auto;
  display: flex;
  column-gap: 2rem;
}

.logo__link {
  font-family: var(--ff-third), cursive;
  font-size: 22px;
  padding: 0;
  text-decoration: none;
  color: var(--whiteColor);
}

.loginBtn {
  padding: 0.5rem 2rem !important;
  background: var(--attentionViolet) !important;
  box-shadow: 0px 10px 9px 0px rgba(26, 15, 63, 0.26);
  border: none !important;
  outline: none !important;
}

.toggleBtn {
  order: 3;
  font-size: 2rem;
  line-height: 1rem;
  background: transparent;
  border-color: transparent;
  color: var(--whiteColor);
  cursor: pointer;
  transition: var(--transition);
}

.toggleBtn:hover {
  color: var(--darkThemeSecondary);
}

.closeModalBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: block;
  background: none;
  border: none;
  font-size: 1.2rem;
  color: var(--attentionColor);
}
.headerModal {
  padding: 2rem;
  background-color: var(--darkThemePrimary) !important;
}
