header.header {
  position: sticky;
  top: 0;
  padding: 1rem 0;
  box-shadow: var(--light-shadow);
  background-color: var(--attentionColor);
  filter: saturate(0.86);
  /*background: var(--whiteColor);*/
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__navigation {
  margin-left: auto;
  display: flex;
  column-gap: 2rem;
}

