.sidebar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  transition: var(--transition);
}

.sidebar__content {
  position: relative;
  height: 100vh;
  width: 50%;
  display: grid;
  place-items: center;
  background: var(--darkThemePrimary);
  animation-duration: .4s;
  animation-iteration-count: none;
  animation-name: show;
  animation-timing-function: linear;
  transition: var(--transition);
}

@keyframes show {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.close__btn {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: var(--attentionColor);
  cursor: pointer;
}
